<mat-tab-group>
<!--DADOS GERAIS / CADASTRO DE PRECO DE CONSULTA-->
  <mat-tab label = "DADOS GERAIS">
      <mat-card class="example-card">

          <mat-card-content>
            <!--FORMULARIO DE CADASTRO DE DADOS GERAIS-->
            <h5>ATUALIZE OS DADOS GERAIS DA CLINICA</h5>

            <form [formGroup]="dados_geraisFormGroup">
                <!--<ng-template matStepLabel>DADOS DO PACIENTE</ng-template>-->
          
                  <!--NOME DA CLINICA
                  <mat-form-field style="width: 33%">
                      <input matInput placeholder="Nome" formControlName="clinica_nome" [(ngModel)]="clinica.nome" required>
                  </mat-form-field>-->

                  <!--PAIS DA CLINICA-->
                  <mat-form-field style="width: 33%">
                      <input matInput placeholder="Pais" formControlName="clinica_pais" [(ngModel)]="clinica.pais" required> 
                  </mat-form-field>

                  <!--PROVINCIA DA CLINICA-->
                  <mat-form-field style="width: 33%">
                      <input matInput placeholder="Provincia" formControlName="clinica_provincia" [(ngModel)]="clinica.provincia" required> 
                  </mat-form-field>

                  <!--CIDADE DA CLINICA-->
                  <mat-form-field style="width: 33%">
                      <input matInput placeholder="Cidade" formControlName="clinica_cidade" [(ngModel)]="clinica.cidade" required> 
                  </mat-form-field>

                  <!--ENDERECEO DA CLINICA-->
                  <mat-form-field style="width: 66%">
                      <input matInput placeholder="Endereco" formControlName="clinica_endereco" [(ngModel)]="clinica.endereco" required> 
                  </mat-form-field>

                  <!--PRECO CONSULTA DA CLINICA-->
                  <mat-form-field style="width: 33%">
                      <input matInput placeholder="Preco de consulta" formControlName="clinica_preco_consulta" [(ngModel)]="clinica.preco_consulta" required> 
                  </mat-form-field>

            </form>
            <div>
              <button mat-icon-button (click)="atualizarClinica()">
                  <mat-icon aria-label="Example icon-button with a heart icon" matTooltip="Atualizar dados da clinica">check_circle</mat-icon>
              </button>
            </div>
            

          </mat-card-content>

      </mat-card>
  </mat-tab>

  <!--TAB CONSULTAS MEDICAS (CRIACAO DE CATEGORIAS DE CONSULTAS MEDICAS)-->
  <mat-tab label = "CONSULTAS MEDICAS">
        <mat-card class="example-card">
                <mat-card-content>
                
                    <!--FORMULARIO DE CATEGORIA CONSULTA-->
                    <h5>FORMULARIO DE CADASTRO DE CONSULTA MEDICA</h5>
                    <form [formGroup]="categorias_consultaFormGroup">
                    
                            <!--NOME DO DIAGNOSITOC-->
                            <mat-form-field style="width: 45%">
                                <input matInput placeholder="Nome" formControlName="cs_nome" [(ngModel)]="categoria_consulta.nome" required>
                            </mat-form-field>
            
                            <!--PRECO DO DIAGNOSITOC-->
                            <mat-form-field style="width: 45%">
                                <input matInput placeholder="Preco" formControlName="cs_preco" [(ngModel)]="categoria_consulta.preco" required>
                            </mat-form-field>
                            
                            <button mat-icon-button (click)="registarCategoriaConsulta()" matTooltip="REGISTAR CONSULTA MEDICA {{categoria_consulta.nome}}">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                    </form>

                    <!--DIV COM A TABELA DE CONSULTAS PENDENTES-->
                    <div class="example-container mat-elevation-z8">
                        <mat-table [dataSource]="dataSourseCategoriaC">
                        
                        <ng-container matColumnDef="nome">
                            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.nome}}</mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="preco">
                            <mat-header-cell *matHeaderCellDef> Preco (MZN) </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.preco| currency:' ':'symbol':'1.2-2'}}</mat-cell>
                        </ng-container>
                    
                        <ng-container matColumnDef="editar">
                            <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                            <mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Editar" (click)="editarConsulta(row)">  
                                <mat-icon>create</mat-icon>
                            </button></mat-cell>
                        </ng-container>
                
                        <mat-header-row *matHeaderRowDef="displayedColumnsCategoriaC"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsCategoriaC;">
                        </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                
                    </div>


                </mat-card-content>
        </mat-card>
  </mat-tab>

  <!--CADASTRO DE PRECOS DE CONSULTA MEDICA E DIAGNOSTICO AUXILIAR-->
  <mat-tab label = "DIAGNOSTICO AUXILIAR"> 
    
    <mat-card class="example-card">
        <mat-card-content>

          <!--FORMULARIO DE CADASTRO DE DIAGNOSTICO AUX-->
          <h5>FORMULARIO DE CADASTRO DE DIAGNOSTICO AUXILIAR</h5>
          <form [formGroup]="cadastro_diagnosticoFormGroup">
              <!--<ng-template matStepLabel>DADOS DO PACIENTE</ng-template>-->
        
              <!--TIPO DE DIAGNOSTICO AUX-->
              <mat-form-field style="width: 23%">
                    <mat-select placeholder="Tipo" formControlName="diagnostico_tipo" [(ngModel)]="diagnostico.tipo" (selectionChange)="filtrarTipoDiagnostico(diagnostico.tipo)">
                        <mat-option *ngFor="let tipo of tipos_diagnosticos" [value]="tipo">
                            {{tipo.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--SUBTIPO DE DIAGNOSTICO AUX-->
              <mat-form-field style="width: 23%">
                    <mat-select placeholder="Sub-Tipo" formControlName="diagnostico_subtipo" [(ngModel)]="diagnostico.subtipo">
                        <mat-option *ngFor="let subtipo of subtipos_diagnosticos" [value]="subtipo">
                            {{subtipo.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <!--NOME DO DIAGNOSITOC-->
                <mat-form-field style="width: 23%">
                    <input matInput placeholder="Nome" formControlName="diagnostico_nome" [(ngModel)]="diagnostico.nome" required>
                </mat-form-field>

                 <!--PRECO DO DIAGNOSITOC-->
                 <mat-form-field style="width: 23%">
                    <input matInput placeholder="Preco" formControlName="diagnostico_preco" [(ngModel)]="diagnostico.preco" required>
                </mat-form-field>
                
                <button mat-icon-button (click)="registarDiagnostico()" matTooltip="REGISTAR NOVO DIAGNOSTICO {{diagnostico.nome}}">
                    <mat-icon>add_circle</mat-icon>
                </button>
          </form>

          <h5>LISTA DE DIAGNOSTICOS AUXILIARES</h5>

          <!--DIV COM A TABELA DE CONSULTAS PENDENTES-->
          <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="dataSourseDiagnostico">
                
                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.tipo.nome}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="subtipo">
                    <mat-header-cell *matHeaderCellDef> Sub-Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.subtipo?.nome}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.nome}}</mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="preco">
                  <mat-header-cell *matHeaderCellDef> Preco (MZN) </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.preco| currency:' ':'symbol':'1.2-2'}}</mat-cell>
                </ng-container>
          
                <ng-container matColumnDef="editar">
                    <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button mat-icon-button  matTooltip="Editar"  (click)="editarDiagnostico(row)">  
                        <mat-icon>create</mat-icon>
                    </button></mat-cell>
                </ng-container>
          
                <ng-container matColumnDef="remover">
                  <mat-header-cell *matHeaderCellDef> Remover </mat-header-cell>
                  <mat-cell *matCellDef="let row"> <button mat-icon-button  matTooltip="Remover">  
                      <mat-icon>delete</mat-icon>
                  </button></mat-cell>
                </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumnsDiagnostico"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsDiagnostico;">
                </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        
          </div>




        </mat-card-content>
    </mat-card>

  </mat-tab>

  <!--TAB CONDUTAS CLINICAS-->
  <mat-tab label = "CONDUTAS CLINICAS">
        <mat-card class="example-card">
            <mat-card-content>

                <!--FORMULARIO DE CADASTRO DE CONDUTA CLINICA-->
                <h5>FORMULARIO DE CADASTRO DE CONDUTA CLINICA</h5>
                <form [formGroup]="condutas_clinicaFormGroup">
                    <!--<ng-template matStepLabel>DADOS DO PACIENTE</ng-template>-->
                
                        <!--TIPO DE CONDUTA CLINICA-->
                        <mat-form-field style="width: 31%">
                            <mat-select placeholder="Tipo" formControlName="conduta_tipo" [(ngModel)]="conduta_clinica.tipo" required>
                                <mat-option *ngFor="let tipo of tipos_conduta_clinica" [value]="tipo">
                                    {{tipo.nome}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!--NOME DA CONDUTA CLINICA-->
                        <mat-form-field style="width: 31%">
                            <input matInput placeholder="Nome" formControlName="conduta_nome" [(ngModel)]="conduta_clinica.nome" required>
                        </mat-form-field>

                        <!--PRECO DA CONDUTA CLINICA-->
                        <mat-form-field style="width: 31%">
                            <input matInput placeholder="Preco" formControlName="conduta_preco" [(ngModel)]="conduta_clinica.preco" required>
                        </mat-form-field>
                        
                        <button mat-icon-button (click)="registarCondutaClinica()" matTooltip="REGISTAR {{conduta_clinica.nome}}">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                </form>

                <h5>LISTA DE CONDUTAS CLINICAS</h5>
                <!--DIV COM A TABELA DE CONSULTAS PENDENTES-->
                <div class="example-container mat-elevation-z8">
                        <mat-table [dataSource]="dataSourseCondutaC">

                        <ng-container matColumnDef="tipo">
                            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.tipo.nome}}</mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="nome">
                            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.nome}}</mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="preco">
                            <mat-header-cell *matHeaderCellDef> Preco (MZN) </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.preco| currency:' ':'symbol':'1.2-2'}}</mat-cell>
                        </ng-container>
                    
                        <ng-container matColumnDef="editar">
                            <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                            <mat-cell *matCellDef="let row"> <button mat-icon-button  matTooltip="Editar" (click)="editarConduta(row)">  
                                <mat-icon>create</mat-icon>
                            </button></mat-cell>
                        </ng-container>
                
                        <mat-header-row *matHeaderRowDef="displayedColumnsCondutaC"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsCondutaC;">
                        </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                
                    </div>

            </mat-card-content>
        </mat-card>
  </mat-tab>



  <mat-tab label = "GESTAO DE USUARIOS">
    <mat-card class="example-card">
        <mat-card-content>

            <!--FORMULARIO DE CADASTRO DE USUARIOS--
            <h5>FORMULARIO DE CADASTRO DE USUARIOS</h5>
            <form [formGroup]="cadastro_userFormGroup">
                <!--NOME DO USUARIO--
                <mat-form-field style="width: 31%">
                    <input matInput placeholder="Nome" formControlName="user_displayName" [(ngModel)]="user.displayName" required>
                </mat-form-field>

                <!--EMAIL DO USUARIO--
                <mat-form-field style="width: 31%">
                    <input matInput placeholder="Email" formControlName="user_email" [(ngModel)]="user.email" required>
                </mat-form-field>
                
                    <!--PERFIL DO USUARIO--
                    <mat-form-field style="width: 31%">
                        <mat-select placeholder="Perfil" formControlName="user_perfil" [(ngModel)]="user.perfil" required>
                            <mat-option *ngFor="let perfil of perfis" [value]="perfil.value">
                                {{perfil.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                
                <button mat-icon-button (click)="editarPerfil()" matTooltip="ATUALIZAR PERFIL">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </form>-->

            <h5>LISTA DE USUARIOS CADASTRADOS</h5>
            <!--DIV COM A TABELA DE CONSULTAS PENDENTES-->
            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSourseUser">
                    
                    <ng-container matColumnDef="displayName">
                        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.displayName}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="perfil">
                        <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.perfil}}</mat-cell>
                    </ng-container>
            
                    <!--<ng-container matColumnDef="editar">
                        <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Remover">  
                            <mat-icon>edit</mat-icon>
                        </button></mat-cell>
                    </ng-container>-->
            
                    <mat-header-row *matHeaderRowDef="displayedColumnsUser"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsUser;">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> 
            </div>

        </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>