<mat-card class="example-card">
  <mat-card-content>
    <h5>FORMULARIO DE CADASTRO DE PLANOS DE CONTA</h5>

    <form [formGroup]="cadastroFormGroup">

        <!--<mat-form-field style="width: 31%">
          <mat-select placeholder="Sub-Tipo" formControlName="subtipo" [(ngModel)]="planoConta.subtipo">
            <mat-optgroup *ngFor="let tipoPlano of tiposPlanos" [label]="tipoPlano.nome">
              <mat-option *ngFor="let subTipo of tipoPlano.subTipos" [value]="subTipo">
                {{subTipo?.nome}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>-->

      <mat-form-field style="width: 31%">
        <mat-select placeholder="Tipo" formControlName="tipo" [(ngModel)]="planoConta.tipo" (selectionChange)="mudarTipo()" required>
          <mat-option *ngFor="let tipoPlano of tiposPlanos" [value]="tipoPlano">
            {{tipoPlano.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 31%">
        <mat-select placeholder="Sub-Tipo" formControlName="subtipo" [(ngModel)]="planoConta.subtipo" required>
            <mat-option *ngFor="let subTipoPlanos of subTiposPlanos" [value]="subTipoPlanos">
              {{subTipoPlanos.nome}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 31%">
          <input matInput placeholder="Nome" formControlName="nome" [(ngModel)]="planoConta.nome" required> 
      </mat-form-field>

      <button mat-icon-button (click)="autualizar()" matTooltip="Editar plano" *ngIf='editando'>
        <mat-icon>create</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Cadastrar plano" (click)="cadastrar()" matTooltip="Cadastrar plano" *ngIf='!editando'>
        <mat-icon>add_circle</mat-icon>
      </button>

      
    </form>

    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSourse" matSort>
            <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.tipo.nome}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="subtipo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Sub-Tipo </mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.subtipo.nome}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="nome">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="editar">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Editar </mat-header-cell>
              <mat-cell *matCellDef="let row"> <button mat-icon-button (click)="editar(row)" matTooltip="Editar {{row.nome}}">
                  <mat-icon>create</mat-icon>
                </button></mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="remover">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Remover </mat-header-cell>
                <!--<mat-cell *matCellDef="let row">{{row.segunda_via}}</mat-cell>-->
              <mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Remover {{row.nome}}" (click)="removeItem(row)">  
                  <mat-icon>delete</mat-icon>
              </button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


  </mat-card-content>
</mat-card>