<h6 mat-dialog-title>CONSULTA DO PACIENTE: {{data.consulta.paciente.nid}} - {{data.consulta.paciente.apelido | uppercase }} {{data.consulta.paciente.nome | uppercase }}</h6>

<mat-accordion class="example-headers-align">

    <!-- ---------------- DADOS GERAIS ---------------- -->
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">

        <mat-expansion-panel-header>
            <mat-panel-title>
                DADOS GERAIS
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-horizontal-stepper [linear]="isLinear" #stepper>

            <!--HISTORIA PREGRESSA-->
            <mat-step [stepControl]="hstPregressaFormGroup">
                <ng-template matStepLabel>HISTORIA PREGRESSA</ng-template>

                <div fxLayout="row" layout-align="center">

                    <div class="pr-1" fxFlex>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_hospitalizacoes">Hospitalizações</mat-checkbox>
                        </div>
            
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_transfusoes_sanguineas">Transfusões sanguíneas</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_asma">Asma</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_hipertensao_arterial">Hipertenção Arterial</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_diabetes_mellitus">Diabetes Mellitus</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_cardiovascular">Asma Brônquica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_pulmonar">Tuberculose</mat-checkbox>
                        </div>
                    </div>

                    <div class="pl-1" fxFlex>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_trauma">Trauma</mat-checkbox>
                        </div>
            
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_problemas_medicos_n_relacionado">Problemas médicos ñ relacionados com a doença atual</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_digestiva">D. Digestiva</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.hr_d_genitourinaria">D. Genitourinária</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.hr_d_neurologia">D. Neurológica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.hr_d_psiquiatrica">D. Psiquiátrica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.hr_alergia">D. Alergia(s)</mat-checkbox>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Especifique">
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                
                <div>
                    <button mat-button>GRAVAR</button>
                    <button mat-button matStepperNext>SEGUINTE</button>
                    <!--<button mat-icon-button matTooltip="Seguinte" matStepperNext>   
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>-->
                </div>
                
            </mat-step>

            <!--HISTORIA FAMILIAR-->
            <mat-step [stepControl]="histFamiliarFormGroup">
                <ng-template matStepLabel>HISTORIA FAMILIAR</ng-template>

                <div fxLayout="row" layout-align="center">

                    <div class="pr-1" fxFlex>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_hipertensao_arterial">Hipertensão Arterial</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_diabete_mellitus">Diabetes Mellitus</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_asma_bronquica">Asma Brônquica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_tuberculose">Tuberculose</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_cardiovascular">D. Cardiovascular</mat-checkbox>
                        </div>
                   </div>

                    <div class="pl-1" fxFlex>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_neoplasica">D. Neoplástica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_tiroide">D. da Tiróide</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_urogenital">D. Urogenital</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.hf_d_tubo_digestivo">D. do tubo digestivo</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.hf_d_hemorragia">D. Hemorrágica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.hf_outras">Outra(s)</mat-checkbox>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Especifique">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div>
                    <button mat-button>GRAVAR</button>
                    <button mat-button matStepperPrevious>VOLTAR</button>
                    <button mat-button matStepperNext>SEGUINTE</button>
                </div>
                
            </mat-step>

            <!--HISTORIA PSICO-SOCIAL-->
            <mat-step [stepControl]="histPsicoSocialFormGroup">
                <ng-template matStepLabel>HISTORIA PSICO-SOCIAL</ng-template>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Situacao laboral" [(ngModel)]="data.consulta.ps_situacao_laboral">
                        <mat-option *ngFor="let situacao_laboral of ps_situacoes_laborais" [value]="situacao_laboral.value">
                            {{situacao_laboral.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Status familiar" [(ngModel)]="data.consulta.ps_status_familiar">
                        <mat-option *ngFor="let status_familiar of ps_status_familiares" [value]="status_familiar.value">
                            {{status_familiar.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Suporte" [(ngModel)]="data.consulta.ps_suporte">
                        <mat-option *ngFor="let ps_suporte of ps_suportes" [value]="ps_suporte.value">
                            {{ps_suporte.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Factores stressantes" [(ngModel)]="data.consulta.ps_fatores_stressantes" multiple>
                        <mat-option *ngFor="let ps_fator_stressante of ps_fatores_stressantes" [value]="ps_fator_stressante.value">
                            {{ps_fator_stressante.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Factores de risco ligados ao estilo de vida" [(ngModel)]="data.consulta.ps_fatores_risco_estilo_vida" multiple>
                        <mat-option *ngFor="let ps_fator_risco_estilo_vida of ps_fatores_risco_estilo_vida" [value]="ps_fator_risco_estilo_vida.value">
                            {{ps_fator_risco_estilo_vida.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Factores de risco ligados ao trabalho" [(ngModel)]="data.consulta.ps_fatores_risco_trabalho" multiple>
                        <mat-option *ngFor="let ps_fator_risco_trabalho of ps_fatores_risco_trabalho" [value]="ps_fator_risco_trabalho.value">
                            {{ps_fator_risco_trabalho.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 99%">
                    <input matInput placeholder="Especificação" [(ngModel)]="data.consulta.ps_fatores_risco_trabalho_especificacao">
                </mat-form-field>
                
                <div>
                    <button mat-button>GRAVAR</button>
                    <button mat-button matStepperPrevious>VOLTAR</button>
                    <button mat-button matStepperNext>SEGUINTE</button>
                </div>
                    
            </mat-step> 

        </mat-horizontal-stepper>
        


        <!--<mat-form-field><input matInput placeholder="First name">
        </mat-form-field>
        <mat-form-field>
        <input matInput type="number" min="1" placeholder="Age">
        </mat-form-field>
        <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>--->

    </mat-expansion-panel>

    <!-- ---------------- HISTORICO DE CONSULTAS ---------------- -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">

        <mat-expansion-panel-header>
            <mat-panel-title>
            HISTORICO DE CONSULTAS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput placeholder="Country">
        </mat-form-field>
        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>

    </mat-expansion-panel>

    <!-- ---------------- CONSULTA ATUAL ---------------- -->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">

        <mat-expansion-panel-header>
            <mat-panel-title>
                CONSULTA ATUAL
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>

    </mat-expansion-panel>
</mat-accordion>
   