<h6 mat-dialog-title>CONSULTA DO PACIENTE: {{data.consulta.paciente.nid}} - {{data.consulta.paciente.apelido | uppercase }} {{data.consulta.paciente.nome | uppercase }}</h6>

<mat-accordion class="example-headers-align">

    <!-- ---------------- DADOS GERAIS ---------------- -->
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="false">

        <mat-expansion-panel-header>
            <mat-panel-title>
                DADOS GERAIS
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-horizontal-stepper [linear]="isLinear" #stepper>

            <!--HISTORIA PREGRESSA-->
            <mat-step>
                <ng-template matStepLabel>HISTORIA PREGRESSA </ng-template>

                <div fxLayout="row" layout-align="center">

                    <div class="pr-1" fxFlex>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_hospitalizacoes">Hospitalizações</mat-checkbox>
                        </div>
                        
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_transfusoes_sanguineas">Transfusões sanguíneas</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_asma">Asma</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_hipertensao_arterial">Hipertenção Arterial</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_diabetes_mellitus">Diabetes Mellitus</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_cardiovascular">Asma Brônquica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_pulmonar">Tuberculose</mat-checkbox>
                        </div>
                    </div>

                    <div class="pl-1" fxFlex>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_trauma">Trauma</mat-checkbox>
                        </div>
            
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_problemas_medicos_n_relacionado">Problemas médicos ñ relacionados com a doença atual</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_digestiva">D. Digestiva</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_genitourinaria">D. Genitourinária</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_neurologia">D. Neurológica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_d_psiquiatrica">D. Psiquiátrica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hr_alergia">D. Alergia(s)</mat-checkbox>
                            <mat-form-field>
                                <input matInput type="text" [(ngModel)]="data.consulta.paciente.hr_alergia_especificacao" placeholder="Especifique">
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                
                <div>
                    <button mat-button (click)="atualizarDadosGerais(data.consulta.paciente, data.consulta, data.consultas)">GRAVAR</button>
                    <button mat-button matStepperNext>SEGUINTE</button>
                    <!--<button mat-icon-button matTooltip="Seguinte" matStepperNext>   
                        <mat-icon>arrow_right_alt</mat-icon>
                    </button>-->
                </div>
                
            </mat-step>

            <!--HISTORIA FAMILIAR-->
            <mat-step>
                <ng-template matStepLabel>HISTORIA FAMILIAR</ng-template>

                <div fxLayout="row" layout-align="center">

                    <div class="pr-1" fxFlex>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_hipertensao_arterial">Hipertensão Arterial</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_diabete_mellitus">Diabetes Mellitus</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_asma_bronquica">Asma Brônquica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_tuberculose">Tuberculose</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_cardiovascular">D. Cardiovascular</mat-checkbox>
                        </div>
                   </div>

                    <div class="pl-1" fxFlex>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_neoplasica">D. Neoplástica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_tiroide">D. da Tiróide</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_urogenital">D. Urogenital</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_tubo_digestivo">D. do tubo digestivo</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_d_hemorragia">D. Hemorrágica</mat-checkbox>
                        </div>
                        <div fxLayout="column" class="mb-1">
                            <mat-checkbox class="example-margin" [(ngModel)]="data.consulta.paciente.hf_outras">Outra(s)</mat-checkbox>
                            <mat-form-field>
                                <input matInput type="text" [(ngModel)]="data.consulta.paciente.hf_outras_especificacao" placeholder="Especifique">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div>
                    <button mat-button (click)="atualizarDadosGerais(data.consulta.paciente, data.consulta, data.consultas)">GRAVAR</button>
                    <button mat-button matStepperPrevious>VOLTAR</button>
                    <button mat-button matStepperNext>SEGUINTE</button>
                </div>
                
            </mat-step>

            <!--HISTORIA PSICO-SOCIAL-->
            <mat-step>
                <ng-template matStepLabel>HISTORIA PSICO-SOCIAL</ng-template>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Situacao laboral" [(ngModel)]="data.consulta.paciente.ps_situacao_laboral">
                        <mat-option *ngFor="let situacao_laboral of ps_situacoes_laborais" [value]="situacao_laboral.value">
                            {{situacao_laboral.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Status familiar" [(ngModel)]="data.consulta.paciente.ps_status_familiar">
                        <mat-option *ngFor="let status_familiar of ps_status_familiares" [value]="status_familiar.value">
                            {{status_familiar.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Suporte" [(ngModel)]="data.consulta.paciente.ps_suporte">
                        <mat-option *ngFor="let ps_suporte of ps_suportes" [value]="ps_suporte.value">
                            {{ps_suporte.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Factores stressantes" [(ngModel)]="data.consulta.paciente.ps_fatores_stressantes" multiple>
                        <mat-option *ngFor="let ps_fator_stressante of ps_fatores_stressantes" [value]="ps_fator_stressante.value">
                            {{ps_fator_stressante.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Factores de risco ligados ao estilo de vida" [(ngModel)]="data.consulta.paciente.ps_fatores_risco_estilo_vida" multiple>
                        <mat-option *ngFor="let ps_fator_risco_estilo_vida of ps_fatores_risco_estilo_vida" [value]="ps_fator_risco_estilo_vida.value">
                            {{ps_fator_risco_estilo_vida.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 33%">
                    <mat-select placeholder="Factores de risco ligados ao trabalho" [(ngModel)]="data.consulta.paciente.ps_fatores_risco_trabalho" multiple>
                        <mat-option *ngFor="let ps_fator_risco_trabalho of ps_fatores_risco_trabalho" [value]="ps_fator_risco_trabalho.value">
                            {{ps_fator_risco_trabalho.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 99%">
                    <input matInput placeholder="Especificação" [(ngModel)]="data.consulta.paciente.ps_fatores_risco_trabalho_especificacao">
                </mat-form-field>
                
                <div>
                    <button mat-button (click)="atualizarDadosGerais(data.consulta.paciente, data.consulta, data.consultas)">GRAVAR</button>
                    <button mat-button matStepperPrevious>VOLTAR</button>
                    <button mat-button matStepperNext>SEGUINTE</button>
                </div>
                    
            </mat-step> 

        </mat-horizontal-stepper>
        


        <!--<mat-form-field><input matInput placeholder="First name">
        </mat-form-field>
        <mat-form-field>
        <input matInput type="number" min="1" placeholder="Age">
        </mat-form-field>
        <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>--->

    </mat-expansion-panel>

    <!-- ---------------- HISTORICO DE CONSULTAS ---------------- -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="false">

        <mat-expansion-panel-header>
            <mat-panel-title>
            HISTORICO DE CONSULTAS
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <!--DIV COM A TABELA DE CONSULTAS ENCERRADAS-->
            <mat-table [dataSource]="data.consultas" matSort>
                    
                <!-- Progress Column -->
                <ng-container matColumnDef="data">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.data.toDate() | date:'dd/MM hh:mm:ss'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="diagnostico">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Diagnostico </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.diagnostico_final}}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="tratamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tratamento </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.tratamento_efetuar}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="internamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Internamento </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.internamento}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="detalhes">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Detalhes </mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button mat-icon-button  matTooltip="Detalhes da consulta">  
                        <mat-icon>list</mat-icon>
                        </button></mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumnsHistConsultas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsHistConsultas;">
                </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </mat-expansion-panel>

    <!-- ---------------- CONSULTA ATUAL ---------------- -->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="false">

        <mat-expansion-panel-header>
            <mat-panel-title>
                CONSULTA ATUAL
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-form-field style="width: 49%">
            <input matInput placeholder="Queixas principais" [(ngModel)]="data.consulta.queixas_principais">
        </mat-form-field>

        <mat-form-field style="width: 49%">
            <input matInput placeholder="Historia da doença atual" [(ngModel)]="data.consulta.historia_doenca_atual">
        </mat-form-field>

         <!--TIPO DE DIAGNOSTICO AUX
        <mat-form-field style="width: 32.6%">
            <mat-select placeholder="Tipo" formControlName="diagnostico_tipo" [(ngModel)]="tipodiagnostico" (selectionChange)="filtrarTipo(tipodiagnostico)">
                <mat-option *ngFor="let tipo of data.tipos_diagnosticos" [value]="tipo">
                    {{tipo.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>-->
    
            <!--SUBTIPO DE DIAGNOSTICO AUX
        <mat-form-field style="width: 32.6%">
            <mat-select placeholder="Sub-Tipo" formControlName="diagnostico_subtipo" [(ngModel)]="subtipodiagnostico" (selectionChange)="filtrarSubTipo(subtipodiagnostico)">
                <mat-option *ngFor="let subtipo of data.subtipos_diagnosticos" [value]="subtipo">
                    {{subtipo.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>-->

        <mat-form-field style="width: 49%">
            <mat-select placeholder="Diagnosticos auxiliares" [(ngModel)]="diagnosticos_alternativo" multiple>
                <mat-option *ngFor="let diagnostico of data.diagnosticos" [value]="diagnostico.nome" [disabled]="diagnostico.faturado">
                    {{diagnostico.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        

        <!--<mat-form-field style="width: 49%">
            <mat-select placeholder="Diagnosticos auxiliares" [formControl]="toppings" [(ngModel)]="data.consulta.diagnosticos_aux" multiple>
                <mat-option *ngFor="let diagnostico of diagnosticos" [value]="diagnostico">
                    {{diagnostico.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>-->

        <!--
            <mat-select placeholder="Factores stressantes" [(ngModel)]="data.consulta.paciente.ps_fatores_stressantes" multiple>
                <mat-option *ngFor="let ps_fator_stressante of ps_fatores_stressantes" [value]="ps_fator_stressante.value">
                    {{ps_fator_stressante.viewValue}}
                </mat-option>
            </mat-select>
        -->

        <mat-form-field style="width: 49%">
            <input matInput placeholder="Diagnostico final" [(ngModel)]="data.consulta.diagnostico_final">
        </mat-form-field>

        <mat-form-field style="width: 49%">
            <input matInput placeholder="Tratamento a efetuar" [(ngModel)]="data.consulta.tratamento_efetuar">
        </mat-form-field>

        <div>
            <!--<button mat-button>INTERNAR</button>-->
            <button mat-button (click)="aguardarDiagnostico(data.consulta)">AGUARDAR DIAGNOSTICOS AUX</button>
            <button mat-button (click)="encerrarConsulta(data.consulta)">ENCERRAR CONSULTA</button>
        </div>

    </mat-expansion-panel>
</mat-accordion>
   