<mat-tab-group>

  <!--TAB DE CONSULTAS PENDENTES-->
  <mat-tab label = "CONSULTAS PENDENTES" icon = "assignment_ind"> 
    
      <mat-card class="example-card">
          
          <mat-card-header>
          <!--CAMPO DE PESQUISA-->
          <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
          </div>
          </mat-card-header>

          <mat-card-content>

              <!--DIV COM A TABELA DE CONSULTAS PENDENTES-->
                  <mat-table [dataSource]="dataSoursePendentes" matSort>
                    
                  <!-- Progress Column -->
                  <ng-container matColumnDef="data">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.data}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="tipo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.tipo}}</mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="nid">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> NID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.paciente_nid}}</mat-cell>
                  </ng-container>
            
                  <ng-container matColumnDef="apelido">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Apelido </mat-header-cell>
                      <mat-cell *matCellDef="let row">{{row.paciente_apelido}}</mat-cell>
                  </ng-container>
            
                  <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.paciente_nome}}</mat-cell>
                  </ng-container>
                  
                  <ng-container matColumnDef="cancelar">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Cancelar </mat-header-cell>
                      <mat-cell *matCellDef="let row"> <button mat-icon-button (click)="openDialog(row)" matTooltip="Cancelar consulta"  [disabled]="!acesso_cancelar">  
                          <mat-icon>cancel</mat-icon>
                        </button></mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="atender">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Atender </mat-header-cell>
                      <!--<mat-cell *matCellDef="let row"> <button mat-icon-button [routerLink]="['/atendimento', {consulta: row}]" matTooltip="Atender paciente {{row.paciente.apelido}}">-->
                      <mat-cell *matCellDef="let row"> <button mat-icon-button (click)="atenderPaciente(row)"  matTooltip="Atender paciente {{row.paciente_apelido}}" [disabled]="!acesso_atender">   
                            <mat-icon>check</mat-icon>
                        </button></mat-cell>
                  </ng-container>
            
                  <mat-header-row *matHeaderRowDef="displayedColumnsPendentes"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsPendentes;">
                  </mat-row>
                  </mat-table>
                  <mat-paginator #paginatorPendentes [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </mat-card-content>
      </mat-card>

      
      
    
  </mat-tab>






  <mat-tab label = "CONSULTAS EM ANDAMENTO" *ngIf='acesso_atender'>
    <mat-card class="example-card">
        
        <mat-card-header>
        <!--CAMPO DE PESQUISA-->
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        </mat-card-header>

        <mat-card-content>

            <!--DIV COM A TABELA DE CONSULTAS EM ANDAMENTO (OU INTERNAMENTO OU AGUARDANDO DIAGNOSTICO)-->
                <mat-table [dataSource]="dataSourseAndamento" matSort>
                    
                <ng-container matColumnDef="data">
                    <mat-header-cell *matHeaderCellDef > Data </mat-header-cell>
                    <!--<mat-cell *matCellDef="let row"> {{row.data.toDate() | date:'dd/MM hh:mm:ss'}}</mat-cell>-->
                    <mat-cell *matCellDef="let row"> {{row.data}}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="nid">
                    <mat-header-cell *matHeaderCellDef > NID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.paciente_nid}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="apelido">
                    <mat-header-cell *matHeaderCellDef > Apelido </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.paciente_apelido}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.paciente_nome}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="diagnostico">
                    <mat-header-cell *matHeaderCellDef> Diagnostico </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.diagnostico_final}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="atender">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Atender </mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button mat-icon-button (click)="atenderPaciente(row)"  matTooltip="Atender paciente {{row.paciente_apelido}}">   
                          <mat-icon>check</mat-icon>
                      </button></mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumnsEAndamento"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsEAndamento;">
                </mat-row>
                </mat-table>
                <mat-paginator #paginatorAndamento [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            
        </mat-card-content>
    </mat-card>

  </mat-tab>






  <mat-tab label = "CONSULTAS ENCERRADAS" *ngIf='acesso_atender'> 
    <mat-card class="example-card">
    
        <mat-card-header>
        <!--CAMPO DE PESQUISA-->
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        </mat-card-header>

        <mat-card-content>

            <!--DIV COM A TABELA DE CONSULTAS ENCERRADAS-->
                <mat-table [dataSource]="dataSourseEncerradas" matSort>
                    
                <ng-container matColumnDef="data">
                    <mat-header-cell *matHeaderCellDef > Data </mat-header-cell>
                    <!--<mat-cell *matCellDef="let row"> {{row.data.toDate() | date:'dd/MM hh:mm:ss'}}</mat-cell>-->
                    <mat-cell *matCellDef="let row"> {{row.data}}</mat-cell>
                </ng-container>
        
                <ng-container matColumnDef="nid">
                    <mat-header-cell *matHeaderCellDef > NID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.paciente_nid}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="apelido">
                    <mat-header-cell *matHeaderCellDef > Apelido </mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.paciente_apelido}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.paciente_nome}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="diagnostico">
                    <mat-header-cell *matHeaderCellDef> Diagnostico </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.diagnostico_final}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="tratamento">
                    <mat-header-cell *matHeaderCellDef> Tratamento </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.tratamento_efetuar}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="internamento">
                    <mat-header-cell *matHeaderCellDef> Internamento </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.internamento}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="detalhes">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Detalhes </mat-header-cell>
                    <mat-cell *matCellDef="let row"> <button mat-icon-button (click)="detalhes(row)">  
                        <mat-icon>list</mat-icon>
                        </button></mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumnsEncerradas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsEncerradas;">
                </mat-row>
                </mat-table>
                <mat-paginator #paginatorEncerradass [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            
        </mat-card-content>
    </mat-card>
  </mat-tab>


  
  <mat-tab label = "CONSULTAS CANCELADAS" *ngIf='acesso_cancelar'> 

    <mat-card class="example-card">
          
            <mat-card-header>
            <!--CAMPO DE PESQUISA-->
            <div class="example-header">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            </mat-card-header>
    
            <mat-card-content>
    
                <!--DIV COM A TABELA DE CONSULTAS CANCELADAS-->
                    <mat-table [dataSource]="dataSourseCanceladas" >
                        
                    <ng-container matColumnDef="data">
                        <mat-header-cell *matHeaderCellDef > Data </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.data}}</mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="nid">
                        <mat-header-cell *matHeaderCellDef > NID </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.paciente_nid}}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="apelido">
                        <mat-header-cell *matHeaderCellDef > Apelido </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.paciente_apelido}}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="nome">
                        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.paciente_nome}}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="justificativa">
                        <mat-header-cell *matHeaderCellDef> Justificativa </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.justificativa_cancelamento}}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="cancelador">
                        <mat-header-cell *matHeaderCellDef> Responsavel </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cancelador}}</mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumnsCanceladas"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsCanceladas;">
                    </mat-row>
                    </mat-table>
                    <mat-paginator #paginatorCanceladas [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                
            </mat-card-content>
        </mat-card>

  </mat-tab>


</mat-tab-group>