<mat-card class="example-card">
    <mat-card-content>
        <h5>GESTAO DE MOVIMENTOS DE ESTOQUE DE MEDICAMENTOS</h5>

        <button mat-icon-button (click)="novoMovimento('Entrada por compra')" matTooltip="REGISTAR NOVA ENTRADA DE MEDICAMENTO">
            <mat-icon>add_circle</mat-icon> Nova Entrada
        </button>

        <!--<button mat-icon-button matTooltip="REGISTAR NOVO SAIDA DE MEDICAMENTO">
            <mat-icon>add_circle</mat-icon> Nova Saida
        </button>

        <button mat-icon-button matTooltip="REGISTAR TRANSFERENCIA DE MEDICAMENTO ENTRE DEPOSITOS">
            <mat-icon>add_circle</mat-icon> Transferencia
        </button>-->

    </mat-card-content>
</mat-card>