<div class="modal-dialog modal-lg" style="padding:0px;margin:0px;" >
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" align="center">DADOS DO PACIENTE</h3>
        </div>
        <div class="modal-body">
          <table table style="width:100%" border="1">
            <tr>
              <th>NID                 </th>
              <td>{{data.nid}}</td>   
</tr>
            <tr>
            <th>NOME</th>
            <td>{{data.nome}}</td>  
                  </tr>  
            
<tr>
              

    <th>APELIDO</th>
    <td>{{data.apelido}}</td>   
</tr>
<tr>
              <th>GÉNERO</th>
              <td>{{data.genero}}</td>   
</tr>

<tr>
  <th>DATA DE NASCIMENTO</th>
  <td>{{data.data_nascimento}}</td>   
</tr>
<tr>
<th>DOCUMENTO</th>
              <td>{{data.documento_identificacao}}</td>   
</tr>
<tr>
<th>NÚMERO DE DOCUMENTO</th>
              <td>{{data.nr_documento_identificacao}}</td>   
</tr>
<tr>
  <th>LOCALIDADE</th>
                <td>{{data.localidade}}</td>   
  </tr>
  <tr>
  <th>BAIRRO</th>
                <td>{{data.bairro}}</td>   
  </tr>
  <tr>
  <th>AVENIDA</th>
  <td>{{data.avenida}}</td>   
</tr>

<tr>
<th>CASA</th>
<td>{{data.casa}}</td>   
</tr>
<tr>
<th>CÉLULA</th>
<td>{{data.celula}}</td>   
</tr>

<tr>
  <th>QUARTEIRÃO</th>
  <td>{{data.quarteirao}}</td>   
  </tr>
  
  <tr>
    <th>POSTO ADMINISTRATIVO</th>
       <td>{{data.posto_admnistrativo}}</td>   
    </tr>
    <tr>
      <th>DISTRITO</th>
      <td>{{data.distrito}}</td>   
      </tr>

      <tr>
        <th>PROVÍNCIA</th>
        <td>{{data.provincia}}</td>   
        </tr>
        <tr>
          <th>NOME REFERENCIA</th>
          <td>{{data.acompanhante_nome}}</td>   
          </tr>
          <tr>
            <th>APELIDO REFERENCIA</th>
            <td>{{data.acompanhante_apelido}}</td>   
            </tr>
            <tr>
              <th>TELEFONE</th>
              <td>{{data.acompanhante_telefone}}</td>   
              </tr>
          </table>
          <br>
        </div>
        <div class="modal-footer">
                   
            <button mat-button class="waves-effect waves-light btn" data-dismiss="modal" (click)="closeModal()">SAIR<i class="large material-icons">close</i></button>
            <button  mat-button class="waves-effect waves-light btn" data-dismiss="modal" mat-icon-button (click)="gerarPDFDados(data)">
              <mat-icon>print</mat-icon>
            </button>
          </div>
       
    </div>
</div>
