<h1 mat-dialog-title>Agendar Diagnosticos para {{data.paciente.nome}} {{data.paciente.apelido}}</h1>
<div mat-dialog-content>
  <p>Selecione os diagnosticos solicitados pelo cliente</p>

  <form [formGroup]="diagnosticoFormGroup">
    <mat-form-field style="width: 45%">
        <mat-select placeholder="Diagnostico Auxiliar" formControlName="diagnostico_nome" [(ngModel)]="diagnostico" required>
            <mat-option *ngFor="let diagnostico of data.diagnosticos" [value]="diagnostico">
                {{diagnostico.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 45%">
        <input matInput placeholder="Preco" formControlName="diagnostico_preco" [(ngModel)]="diagnostico.preco" required>
    </mat-form-field>

    <button mat-icon-button (click)="addDiognostico(diagnostico)" matTooltip="Agendar {{diagnostico.nome}}">
            <mat-icon>add_circle</mat-icon>
    </button>
   </form>

   <mat-table [dataSource]="dataSourse" matSort>
        
        <!-- Progress Column -->
        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="preco">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Preco (MZN) </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.preco| currency:' ':'symbol':'1.2-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="remover">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Remover </mat-header-cell>
            <mat-cell *matCellDef="let row"> <button mat-icon-button (click)="removeDiagostico(row)" matTooltip="Remover {{row.nome}}">  
                    <mat-icon>delete</mat-icon>
            </button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
  

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="marcarConsulta(data.paciente)">OK</button>
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="cancelarConsulta(data.consulta)">OK</button>-->
</div> 