<h1 mat-dialog-title>Agendar Diagnosticos para {{data.paciente.nome}} {{data.paciente.apelido}}</h1>
<div mat-dialog-content>
  <p>Selecione os diagnosticos solicitados pelo cliente</p>

 <!--<form [formGroup]="diagnosticoFormGroup">-->

    <!--TIPO DE DIAGNOSTICO AUX-->
    <mat-form-field style="width: 31.2%">
        <mat-select placeholder="Tipo"  [(ngModel)]="tipodiagnostico" (selectionChange)="filtrarTipo(tipodiagnostico)">
                <mat-option >
                        <ngx-mat-select-search [(ngModel)]="filtrotipodiagnostico"  placeholderLabel="Pesquisar"  noEntriesFoundLabel  = " Nenhuma informacao encontrada " matInput (keyup)="filtrarTipoDiagnosticos($event.target.value)"></ngx-mat-select-search>
                      </mat-option>
            <mat-option *ngFor="let tipo of data.tipos_diagnosticos" [value]="tipo">
                {{tipo.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

        <!--SUBTIPO DE DIAGNOSTICO AUX-->
    <mat-form-field style="width: 31.2%">
        <mat-select placeholder="Sub-Tipo"  [(ngModel)]="subtipodiagnostico" (selectionChange)="filtrarSubTipo(subtipodiagnostico)">
                <mat-option >
                        <ngx-mat-select-search [(ngModel)]="filtrosubtipodiagnostico" placeholderLabel="Pesquisar"  noEntriesFoundLabel  = " Nenhuma informacao encontrada " matInput (keyup)="filtrarSubtipoDiagnostico($event.target.value)"></ngx-mat-select-search>
                      </mat-option>
            <mat-option *ngFor="let subtipo of data.subtipos_diagnosticos" [value]="subtipo">
                {{subtipo.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 31.2%">
        <mat-select placeholder="Diagnostico Auxiliar" [(ngModel)]="diagnostico" required>
                <mat-option >
                        <ngx-mat-select-search   [(ngModel)]="filtrodiagnostico"  placeholderLabel="Pesquisar"  noEntriesFoundLabel  = " Nenhuma informacao encontrada " matInput (keyup)="filtrarDiagnosticos($event.target.value)"></ngx-mat-select-search>
                      </mat-option>
            <mat-option *ngFor="let diagnostico of data.diagnosticos" [value]="diagnostico">
                {{diagnostico.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 31.2%">
        <mat-select placeholder="Forma de pagamento" [(ngModel)]="forma_pagamento" required (selectionChange)="mudarFPagamento()">
            <mat-option *ngFor="let f of data.formas_pagamento" [value]="f.value">
                {{f.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 31.2%">
        <input matInput placeholder="Preco"  [(ngModel)]="diagnostico.preco" required disabled *ngIf='!precoSegurado'>
        <input matInput placeholder="Preco" [(ngModel)]="diagnostico.preco_seguradora" required disabled *ngIf='precoSegurado'>
    </mat-form-field>

    <mat-form-field style="width: 31.2%">
        <mat-select placeholder="Seguradora" [(ngModel)]="seguradora" [disabled]="!precoSegurado">
            <mat-option *ngFor="let s of data.seguradoras" [value]="s">
                {{s.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 46.8%">
        <input matInput placeholder="Nr de apolice" [(ngModel)]="nr_apolice" [disabled]="!precoSegurado">
    </mat-form-field>

    <mat-form-field style="width: 46.8%">
        <mat-select placeholder="Medico" [(ngModel)]="medico" required>
            <mat-option *ngFor="let medico of data.medicos" [value]="medico">
                {{medico}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="addDiognostico(diagnostico)" matTooltip="Agendar {{diagnostico.nome}}">
            <mat-icon>add_circle</mat-icon>
    </button>
  <!-- </form>-->

   <mat-table [dataSource]="dataSourse" matSort>
        
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.tipo?.nome}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="subtipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sub-Tipo </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.subtipo?.nome}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="preco" *ngIf='!precoSegurado'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> Preco (MZN) </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.preco| currency:' ':'symbol':'1.2-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="preco" *ngIf='precoSegurado'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> Preco (MZN) </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.preco_seguradora| currency:' ':'symbol':'1.2-2'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="remover">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Remover </mat-header-cell>
            <mat-cell *matCellDef="let row"> <button mat-icon-button (click)="removeDiagostico(row)" matTooltip="Remover {{row.nome}}">  
                    <mat-icon>delete</mat-icon>
            </button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
  

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [disabled]="desabilitar2" (click)="cotar(data.paciente)">{{texto2}}</button>
  <button mat-button cdkFocusInitial [disabled]="desabilitar" (click)="faturarDiagnostico(data.paciente)">{{texto}}</button>
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="cancelarConsulta(data.consulta)">OK</button>-->
</div> 