<div class="example-header" *ngIf='acesso_indicadores3'>

  <mat-form-field style="width: 33%">
    <mat-select placeholder="Ano de analise" [(ngModel)]="ano" [(value)]="ano"  (selectionChange)="onSelect(ano, mes, medico, deposito)" > 
        <mat-option *ngFor="let ano of anos" [value]="ano.id">
          {{ano.id}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 33%">
    <mat-select placeholder="Mes de analise" [(ngModel)]="mes" [(value)]="mes" (selectionChange)="onSelect(ano, mes, medico, deposito)"> 
        <mat-option *ngFor="let mes of meses" [value]="mes">
          {{mes}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 33%">
    <mat-select placeholder="Deposito" [(ngModel)]="deposito" [(value)]="deposito"  (selectionChange)="onSelect(ano, mes, medico, deposito)"> 
        <mat-option *ngFor="let deposito of depositos" [value]="deposito">
          {{deposito.nome}}
        </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="example-header" *ngIf='acesso_indicadores4'>

  <mat-form-field style="width: 24.5%">
    <mat-select placeholder="Ano de analise" [(ngModel)]="ano" [(value)]="ano"  (selectionChange)="onSelect(ano, mes, medico, deposito)" > 
        <mat-option *ngFor="let ano of anos" [value]="ano.id">
          {{ano.id}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 24.5%">
    <mat-select placeholder="Mes de analise" [(ngModel)]="mes" [(value)]="mes" (selectionChange)="onSelect(ano, mes, medico, deposito)"> 
        <mat-option *ngFor="let mes of meses" [value]="mes">
          {{mes}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 24.5%">
    <mat-select placeholder="Medico" [(ngModel)]="medico" [(value)]="medico" (selectionChange)="onSelect(ano, mes, medico, deposito)"> 
        <mat-option *ngFor="let medico of medicos" [value]="medico">
          {{medico}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 24.5%">
    <mat-select placeholder="Deposito" [(ngModel)]="deposito" [(value)]="deposito"  (selectionChange)="onSelect(ano, mes, medico, deposito)"> 
        <mat-option *ngFor="let deposito of depositos" [value]="deposito">
          {{deposito.nome}}
        </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div fxLayout="row wrap" *ngIf='acesso_indicadores2'>

    <!-- CARTAO COM TOTAL DE PACIENTES CADASTRADOS NA CLINICA -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
      <mat-card class="card-widget mat-teal" mat-icon-button (click)="Lista_pacientes(row)">
      <!--<mat-card class="card-widget mat-teal" mat-icon-button>-->
        <div mat-card-widget>
          <div mat-card-float-icon>
            <mat-icon>person</mat-icon>
          </div>
          <div class="pl-0">
            <h2 mat-card-widget-title>{{pacientes?.length}}</h2>
            <p>Pacientes cadastrados</p>
          </div>
        </div>
      </mat-card>
    </div>

    <!-- CARTAO COM TOTAL DE DIAGNOSTICOS AUX CADASTRADOS -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <!--<mat-card class="card-widget mat-indigo"  mat-icon-button (click)="Lista_consulta(row)" >-->
        <mat-card class="card-widget mat-indigo"  mat-icon-button>
          <div mat-card-widget>
            <div mat-card-float-icon>
              <mat-icon>airline_seat_recline_extra</mat-icon>
            </div>
            <div class="pl-0">
              <h2 mat-card-widget-title>{{consultas_encerradas_medicas}}</h2>
              <p>Consultas medicas atendidas</p>
            </div>
          </div>
        </mat-card>
      </div>

      <!-- CARTAO COM TOTAL DE CONSULTAS MEDICAS ATENDIDAS -->
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
        <!--<mat-card class="card-widget mat-red"   mat-icon-button (click)="Lista_dialogo(row)" >-->
        <mat-card class="card-widget mat-red"   mat-icon-button >
          <div mat-card-widget>
            <div mat-card-float-icon>
              <mat-icon>enhanced_encryption</mat-icon>
            </div>
            <div class="pl-0">
              <h2 mat-card-widget-title>{{consultas_encerradas_diagnosticos}}</h2>
              <p>Diagnosticos aux efetuados</p>
            </div>
          </div>
        </mat-card>
      </div>

      <!-- CARTAO COM TOTAL DE CONSULTAS MEDICAS ATENDIDAS -->
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" style="width: 80%">
        <!--<mat-card class="card-widget mat-purple"   mat-icon-button (click)="Lista_conduta(row)">-->
        <mat-card class="card-widget mat-purple"   mat-icon-button>
          <div mat-card-widget>
            <div mat-card-float-icon>
              <mat-icon>local_hospital</mat-icon>
            </div>
            <div class="pl-0">
              <h2 mat-card-widget-title>{{consultas_encerradas_condutas}}</h2>
              <p>Condutas medicas efetuadas</p>
            </div>
          </div>
        </mat-card>
      </div>
</div>

<div fxLayout="row wrap" *ngIf='acesso_indicadores'>
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-card>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
              RECEITA ACUMULADA DE {{ano}}: &nbsp; <span class="font-weight-bold mat-text-sucess">{{total_valor | currency:' ':'symbol':'1.2-2'}} MZN</span>
              <span fxFlex></span>
              <!--<button mat-icon-button mat-button-sm [matMenuTriggerFor]="card2" aria-label="Open card menu">
                <mat-icon>more_vert</mat-icon>
              </button>-->
            </mat-card-subtitle>
            <mat-menu #card2="matMenu" x-position="before">
              <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                Settings
              </button>
              <button mat-menu-item>
                <mat-icon>more</mat-icon>
                View More
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                Disable notifications
              </button>
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Remove Panel
              </button>
            </mat-menu>
            <mat-card-content>
              <canvas height="200" baseChart class="chart"
                [datasets]="ComboChartData"
                [labels]="comboChartLabels"
                [options]="ComboChartOptions"
                [colors]="chartColors"
                [legend]="comboChartLegend"
                [chartType]="barChartType"></canvas>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex.gt-sm="50%" fxFlex="100">
            <mat-card>
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                  RECEITA DIARIA DE {{mes | uppercase}} DE {{ano}}
                  <span fxFlex></span>
                </mat-card-subtitle>
                <mat-menu #card2="matMenu" x-position="before">
                  <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    Settings
                  </button>
                  <button mat-menu-item>
                    <mat-icon>more</mat-icon>
                    View More
                  </button>
                  <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    Disable notifications
                  </button>
                  <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    Remove Panel
                  </button>
                </mat-menu>
                <mat-card-content>
                  <canvas height="200" baseChart class="chart"
                    [datasets]="ComboChartData2"
                    [labels]="comboChartLabels2"
                    [options]="ComboChartOptions2"
                    [colors]="chartColors2"
                    [legend]="comboChartLegend2"
                    [chartType]="barChartType"></canvas>
                </mat-card-content>
              </mat-card>
        </div>

        <!--<div fxFlex.gt-sm="50%" fxFlex="100">
          <mat-card>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
              ATENDIMENTOS MENSALISADOS 
            </mat-card-subtitle>
            <mat-menu #card1="matMenu" x-position="before">
              <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                Settings
              </button>
              <button mat-menu-item>
                <mat-icon>more</mat-icon>
                View More
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                Disable notifications
              </button>
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Remove Panel
              </button>
            </mat-menu>
            <mat-card-content>
              <canvas height="200" baseChart class="chart"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="chartColors"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>
            </mat-card-content>
          </mat-card>
        </div>-->

        <!--<mat-card>
          <table style="width:100%">
            <tr>
              <th>CATEGORIA</th>
              <th>QTD SOLICITACOES</th>
              <th>RECEITA TOTAL</th>
              <th>PERCENTUAL SOBRE RECEITA TOTAL</th>
            </tr>
            <tr>
              <td>Consulta Médica</td>
              <td>{{categoria_qtd_CONSULTA_MEDICA}}</td>
              <td>{{categoria_valor_CONSULTA_MEDICA | currency:' ':'symbol':'1.2-2'}}</td>
              <td><mat-progress-bar mode="determinate" value="{{categoria_percentual_CONSULTA_MEDICA}}" color="primary"></mat-progress-bar></td>
            </tr>
            <tr>
              <td>Diagnóstico Auxiliar</td>
              <td>{{categoria_qtd_DIAGNOSTICO_AUX}}</td>
              <td>{{categoria_valor_DIAGNOSTICO_AUX | currency:' ':'symbol':'1.2-2'}}</td>
              <td><mat-progress-bar mode="determinate" value="{{categoria_percentual_DIAGNOSTICO_AUX}}" color="primary"></mat-progress-bar></td>
            </tr>
          </table>
        </mat-card>-->

        <div fxFlex.gt-sm="50%" fxFlex="100" *ngIf='acesso_indicadores2'>
          <mat-card>
            <!--<mat-card-title>Receita por categoria</mat-card-title>-->
            <mat-card-subtitle>RECEITA POR CATEGORIA NO ANO DE {{ano}}</mat-card-subtitle>
            <mat-card-subtitle>Entenda quais categorias estão trazendo maior retorno financeiro</mat-card-subtitle>
            <mat-card-content>
              <canvas height="200" baseChart class="chart"
                [data]="doughnutChartData_ano"
                [labels]="doughnutChartLabels_ano"
                [options]="doughnutOptions_ano"
                [colors]="doughnutChartColors_ano"
                [chartType]="doughnutChartType_ano"></canvas>
            </mat-card-content>
          </mat-card>
        </div>
        

        <div fxFlex.gt-sm="50%" fxFlex="100" *ngIf='acesso_indicadores2'>
          <mat-card>
            <!--<mat-card-title>Receita por categoria</mat-card-title>-->
            <mat-card-subtitle>RECEITA POR CATEGORIA NO MÊS DE {{mes | uppercase}}</mat-card-subtitle>
            <mat-card-subtitle>Entenda quais categorias estão trazendo maior retorno financeiro</mat-card-subtitle>
            <mat-card-content>
              <canvas height="200" baseChart class="chart"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [options]="doughnutOptions"
                [colors]="doughnutChartColors"
                [chartType]="doughnutChartType"></canvas>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex.gt-sm="50%" fxFlex="100">
          <mat-card>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
              FECHAMENTO DE VALOR DE ESTOQUE
            </mat-card-subtitle>
            <mat-menu #card1="matMenu" x-position="before">
              <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                Settings
              </button>
              <button mat-menu-item>
                <mat-icon>more</mat-icon>
                View More
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                Disable notifications
              </button>
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Remove Panel
              </button>
            </mat-menu>
            <mat-card-content>
              <canvas height="200" baseChart class="chart"
                [datasets]="barChartData_FechamentoEstoque"
                [labels]="barChartLabels_FechamentoEstoque"
                [options]="barChartOptions_FechamentoEstoque"
                [colors]="chartColors"
                [legend]="barChartLegend_FechamentoEstoque"
                [chartType]="barChartType_FechamentoEstoque"></canvas>
            </mat-card-content>
          </mat-card>
        </div>
        
        <div fxFlex.gt-sm="50%" fxFlex="100">
          <mat-card>
            <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
              COMPARAÇÃO DE VALORES DE ENTRADA E SAIDA
            </mat-card-subtitle>
            <mat-menu #card1="matMenu" x-position="before">
              <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                Settings
              </button>
              <button mat-menu-item>
                <mat-icon>more</mat-icon>
                View More
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                Disable notifications
              </button>
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Remove Panel
              </button>
            </mat-menu>
            <mat-card-content>
              <canvas height="200" baseChart class="chart"
                [datasets]="barChartData_MovimentosEstoque"
                [labels]="barChartLabels_MovimentosEstoque"
                [options]="barChartOptions_MovimentosEstoque"
                [colors]="chartColors"
                [legend]="barChartLegend_MovimentosEstoque"
                [chartType]="barChartType_MovimentosEstoque"></canvas>
            </mat-card-content>
          </mat-card>
        </div>

        
        
        

</div>


<!--CLINICAS-->
<mat-card>
  <mat-card-content  *ngIf='acesso_indicadores4'>  
    <button mat-icon-button (click)="exportTable2()">
      EXPORTAR RELATORIO DE ENTRADAS E SAIDAS DE {{mes | uppercase}} <mat-icon aria-label="Example icon-button with a heart icon">cloud_download</mat-icon>
    </button>
  </mat-card-content>
</mat-card>


<mat-card class="card-widget" *ngIf='acesso_indicadores4'>

  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSourseLancamentos2">
      <ng-container matColumnDef="Dia">
        <mat-header-cell *matHeaderCellDef mat-sort-header>DATA </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.dia}}/{{row.mes}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Consulta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Consulta</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Consulta| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Diagnostico">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Diagnostico</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Diagnostico| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Conduta">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Conduta</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Conduta| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Medicamento">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Medicamento</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Medicamento| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Numerario">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Numerario</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Numerario| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="POS">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) POS</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_POS| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Mpesa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Mpesa</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_MPesa| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cheque">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Cheque</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Cheque| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Convenio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Convenio</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Convenio| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="EntradaTotal" class="mat-teal">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b>(+) TOTAL </b></mat-header-cell>
        <mat-cell *matCellDef="let row"><b>{{row.entrada_Total| currency:' ':'symbol':'1.2-2'}} </b></mat-cell>
      </ng-container>

      

      <ng-container matColumnDef="Admnistrativa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Admnistrativa</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Admnistrativa| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Energia">
          <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Energia</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.saida_Energia| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Salario">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Salario</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Salario| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Alimentacao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Alimentacao</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Alimentacao| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Transporte">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Transporte</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Transporte| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="SaidaOutros">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Outras Saidas</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Outros| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="SaidaTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header ><b>(-) TOTAL</b></mat-header-cell>
        <mat-cell *matCellDef="let row"><b>{{row.saida_total| currency:' ':'symbol':'1.2-2'}}</b></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsLancamentos2"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsLancamentos2;">
      </mat-row>
    </mat-table>
  </div>
</mat-card>


<!--CLINICA-->
<mat-card class="card-widget" *ngIf='tabela2'>
  <table  id="ExampleTable2" style="width:100%">
    <tr>
      <th>Dia</th>
      <th>(+) Consulta</th>
      <th>(+) Diagnostico</th>
      <th>(+) Conduta</th>
      <th>(+) Medicamento</th>
      <th>(+) Numerario</th>
      <th>(+) POS</th>
      <th>(+) Mpesa</th>
      <th>(+) Cheque</th>
      <th>(+) Convenio</th>
      <th><b>(+) EntradaTotal</b></th>
      <th>(-) Admnistrativa</th>
      <th>(-) Energia</th>
      <th>(-) Salario</th>
      <th>(-) Alimentacao</th>
      <th>(-) Transporte</th>
      <th>(-) Outras Saidas</th>
      <th><b>(-) TOTAL</b></th>

    </tr>
    <tr *ngFor="let l of lancamentosConsolidados">
      <td>{{l.dia}}/{{mes}}</td>

      <td>{{l.entrada_Consulta| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Diagnostico| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Conduta| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Medicamento| currency:' ':'symbol':'1.2-2'}}</td>

      <td>{{l.entrada_Numerario| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_POS| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_MPesa| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Cheque| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Convenio| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Total| currency:' ':'symbol':'1.2-2'}}</td>

      <td>{{l.saida_Admnistrativa| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Energia| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Salario| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Alimentacao| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Transporte| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Outros| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_total| currency:' ':'symbol':'1.2-2'}}</td>
    </tr>
  </table>
</mat-card>








<mat-card>
  <mat-card-content  *ngIf='acesso_indicadores3'>  
    <button mat-icon-button (click)="exportTable()">
      EXPORTAR RELATORIO DE ENTRADAS E SAIDAS DE {{mes | uppercase}} <mat-icon aria-label="Example icon-button with a heart icon">cloud_download</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<!--FARMACIAS-->
<mat-card class="card-widget" *ngIf='acesso_indicadores3'>

  <!--<button mat-raised-button color="primary" (click)="exportAsExcel()">Export as Excel</button>-->

  <div class="example-container mat-elevation-z8" #TABLE>
    <mat-table #table [dataSource]="dataSourseLancamentos">
      <ng-container matColumnDef="Dia">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Dia</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.dia}}/{{row.mes}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Numerario">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Numerario</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Numerario| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="POS">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) POS</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_POS| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Mpesa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Mpesa</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_MPesa| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cheque">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Cheque</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Cheque| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Convenio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(+) Convenio</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.entrada_Convenio| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="EntradaTotal" class="mat-teal">
        <mat-header-cell *matHeaderCellDef mat-sort-header><b>(+) TOTAL </b></mat-header-cell>
        <mat-cell *matCellDef="let row"><b>{{row.entrada_Total| currency:' ':'symbol':'1.2-2'}} </b></mat-cell>
      </ng-container>

      

      <ng-container matColumnDef="Admnistrativa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Admnistrativa</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Admnistrativa| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Energia">
          <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Energia</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.saida_Energia| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Salario">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Salario</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Salario| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Alimentacao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Alimentacao</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Alimentacao| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Transporte">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Transporte</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Transporte| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="SaidaOutros">
        <mat-header-cell *matHeaderCellDef mat-sort-header>(-) Outras Saidas</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.saida_Outros| currency:' ':'symbol':'1.2-2'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="SaidaTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header ><b>(-) TOTAL</b></mat-header-cell>
        <mat-cell *matCellDef="let row"><b>{{row.saida_total| currency:' ':'symbol':'1.2-2'}}</b></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsLancamentos"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsLancamentos;">
      </mat-row>
    </mat-table>
    <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
  </div>
</mat-card>

<!--FARMACIA-->
<mat-card class="card-widget" *ngIf='tabela'>
  <table  id="ExampleTable" style="width:100%">
    <tr>
      <th>Dia</th>
      <th>(+) Numerario</th>
      <th>(+) POS</th>
      <th>(+) Mpesa</th>
      <th>(+) Cheque</th>
      <th>(+) Convenio</th>
      <th><b>(+) EntradaTotal</b></th>
      <th>(-) Admnistrativa</th>
      <th>(-) Energia</th>
      <th>(-) Salario</th>
      <th>(-) Alimentacao</th>
      <th>(-) Transporte</th>
      <th>(-) Outras Saidas</th>
      <th><b>(-) TOTAL</b></th>

    </tr>
    <tr *ngFor="let l of lancamentosConsolidados">
      <td>{{l.dia}}/{{mes}}</td>
      <td>{{l.entrada_Numerario| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_POS| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_MPesa| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Cheque| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Convenio| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.entrada_Total| currency:' ':'symbol':'1.2-2'}}</td>

      <td>{{l.saida_Admnistrativa| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Energia| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Salario| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Alimentacao| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Transporte| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_Outros| currency:' ':'symbol':'1.2-2'}}</td>
      <td>{{l.saida_total| currency:' ':'symbol':'1.2-2'}}</td>
    </tr>
  </table>
</mat-card>



<!--<div class="example-container mat-elevation-z8" *ngIf='acesso_indicadores'>
    <mat-table [dataSource]="dataSourse" matSort>
      
    <ng-container matColumnDef="Medico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Medico </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.medico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Categoria">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.categoria}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Ano">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ano </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ano}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Mes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Mes </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.mes}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Valor">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.valor}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>-->


<mat-card class="card-widget" *ngIf='!acesso_indicadores'>
  <div mat-card-widget>
    <!--<div mat-card-float-icon>
      <mat-icon>local_hospital</mat-icon>
    </div>-->
    <div class="pl-0">
      <h2 mat-card-widget-title>BEM VINDO AO SISTEMA DE GESTAO CLINICA</h2>
      <p>Tenha um bom dia de trabalho {{username}}</p>
    </div>
  </div>
</mat-card>

<!--div fxLayout="row wrap">
  <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
      <mat-card>
          <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
              RECEITA ANUAL &nbsp; <span class="font-weight-bold mat-text-sucess">{{total_valor | currency:' ':'symbol':'1.2-2'}} MZN</span>
              <span fxFlex></span>
          </mat-card-subtitle>
          <fusioncharts
              width="500"
              height="500"
              type="stackedcolumn2d"
              dataFormat="json"
              [dataSource]="stackedColumnData">
          </fusioncharts>
      </mat-card>
  </div>
</div>
<div style="display: flex;justify-content: center">
    <button (click)="exportChart($event)" class="btn btn-primary">Export both charts as a single PDF</button>
</div>
-->