<!--<div fxLayout="row wrap" >
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
          <mat-card class="card-widget mat-teal">
            <div mat-card-widget>
              <div mat-card-float-icon>
                <mat-icon>person</mat-icon>
              </div>
              <div class="pl-0">
                <h2 mat-card-widget-title>{{estudantes?.length}}</h2>
                <p>Estudantes</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
          <mat-card class="card-widget mat-purple">
            <div mat-card-widget>
              <div mat-card-float-icon>
                <mat-icon>group</mat-icon>
              </div>
              <div class="pl-0">
                <h2 mat-card-widget-title>{{turmas?.length}}</h2>
                <p>Turmas</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
          <mat-card class="card-widget mat-indigo">
            <div mat-card-widget>
              <div mat-card-float-icon>
                <mat-icon>event_available</mat-icon>
              </div>
              <div class="pl-0">
                <h2 mat-card-widget-title>{{estudantesMatriculados?.length}}</h2>
                <p>Matriculados</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
          <mat-card class="card-widget mat-red">
            <div mat-card-widget>
              <div mat-card-float-icon>
                <mat-icon>event_busy</mat-icon>
              </div>
              <div class="pl-0">
                <h2 mat-card-widget-title>{{naoMatriculdos}}</h2>
                <p>Ñ Matriculados</p>
              </div>
            </div>
          </mat-card>
        </div>
  </div>

    <div fxLayout="row wrap">
        <mat-card>
          <mat-card-title class="text-xs-center">NR DE ESTUDANTES POR GENERO</mat-card-title>
          <!--<mat-card-subtitle class="text-xs-center"></mat-card-subtitle>--
          <mat-card-content>
            <canvas height="220" baseChart
                [data]="pieChartData"
                [options]="pieOptions"
                [colors]="pieChartColors"
               [labels]="pieChartLabels"
               [chartType]="pieChartType"></canvas>
          </mat-card-content>
          
        </mat-card>
    </div>

  -->