<mat-tab-group>
  
  <!--CADASTRO DE MEDICAMENTOS-->
  <mat-tab label = "MEDICAMENTOS">
    <mat-card class="example-card">
        <mat-card-content>
          <h5>FORMULARIO DE CADASTRO DE MEDICAMENTOS</h5>
          
        </mat-card-content>
    </mat-card>
  </mat-tab>

  <!--CADASTRO DE MEDICAMENTOS-->
  <mat-tab label = "DEPOSITOS">
    <mat-card class="example-card">
        <mat-card-content>
          <h5>FORMULARIO DE CADASTRO DE DEPOSITOS</h5>

          <form [formGroup]="depositoFormGroup">
            <!--NOME-->
            <mat-form-field style="width: 45%">
                <input matInput placeholder="Nome" formControlName="deposito_nome" [(ngModel)]="deposito.nome" required> 
            </mat-form-field>

            <!--DESCRICAO-->
            <mat-form-field style="width: 45%">
                <input matInput placeholder="Descricao" formControlName="deposito_descricao" [(ngModel)]="deposito.descricao"> 
            </mat-form-field>

            <button mat-icon-button (click)="registarDeposito()" matTooltip="REGISTAR NOVO DEPOSITO">
                <mat-icon>add_circle</mat-icon>
            </button>
          </form>

          <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="dataSourseDeposito">
              
              <ng-container matColumnDef="nome">
                  <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.nome}}</mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="descricao">
                  <mat-header-cell *matHeaderCellDef> Descricao </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.descricao}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="editar">
                  <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                  <mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Editar">  
                      <mat-icon>create</mat-icon>
                  </button></mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="displayedColumnsDeposito"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsDeposito;">
              </mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          

        </mat-card-content>
    </mat-card>
  </mat-tab>

  <!--CADASTRO DE UNs-->
  <mat-tab label = "UNIDADES DE MEDIDA">
    <mat-card class="example-card">
        <mat-card-content>
          <h5>FORMULARIO DE CADASTRO DE UNIDADES DE MEDIDA</h5>
          
          <form [formGroup]="unFormGroup">
            <!--NOME-->
            <mat-form-field style="width: 90%">
                <input matInput placeholder="Nome" formControlName="un_nome" [(ngModel)]="un.nome" required> 
            </mat-form-field>

            <button mat-icon-button (click)="registarUN()" matTooltip="REGISTAR NOVA UN">
                <mat-icon>add_circle</mat-icon>
            </button>
          </form>

          <div class="example-container mat-elevation-z8">
            <mat-table [dataSource]="dataSourseUN">
            
            <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nome}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="editar">
                <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                <mat-cell *matCellDef="let row"> <button mat-icon-button matTooltip="Editar">  
                    <mat-icon>create</mat-icon>
                </button></mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumnsUN"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsUN;">
            </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>

        </mat-card-content>
    </mat-card>
  </mat-tab>

</mat-tab-group>